<%= link_to "Create a new todo", new_todo_path %>

<h2>Incomplete todos</h2>
<ul class="incomplete">
  <% @incomplete_todos.each do |todo| %>
    <li>
      <%= todo.title %>
      <%= link_to "Mark complete", todo_completion_path(todo), method: :post %>
      <%= link_to "Clone", todo_clone_path(todo), method: :post %>
    </li>
  <% end %>
</ul>

<h2>Complete todos</h2>
<ul class="completed">
  <% @completed_todos.each do |todo| %>
    <li>
      <%= todo.title %>
      <%= link_to "Mark incomplete", todo_completion_path(todo), method: :delete %>
    </li>
  <% end %>
</ul>
